@model IEnumerable<HCMSIU_SSPS.Models.SystemSetting>

@{
    ViewData["Title"] = "System Settings";
}

<h1 class="text-center mt-4 mb-5">Cài Đặt Mặc Định</h1>

<div class="container">

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Tên Chức Năng</th>
                    <th>Thiết Lập Giá Trị</th>
                    <th>Thời Gian Cập Nhật</th>
                    <th class="text-center">Cài Đặt</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.SettingKey)</td>
                        <td>@Html.DisplayFor(modelItem => item.SettingValue)</td>
                        <td>@item.LastUpdated?.ToString("g")</td>
                        <td class="text-center">
                            <a asp-action="Edit" asp-route-id="@item.SettingId" class="btn btn-warning btn-sm">Sửa</a>
                            
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
